/*
  # Motivations
  * Here we will have some components css
  * Actuall we are using modular CSS approach
  * This file is to build some small CSS components example for a grid vertical or horizontal elements or  * for a flex item
*/

.dev{
  &-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    font-family: 'Big Shoulders Display';
    position: relative;
    overflow: hidden;
  }
  //for repogit
  &-title{
    font-size: 4em;
    color: white;
  }
  &-typography{
    font-family: 'Yusei Magic';
    text-align: center;
    margin: 1rem;
  }
}

.animate-box{
  display: flex;
  flex-direction: row;
}

.small-disable-box{
  height: 40px;
  width: 40px;
  background-image: linear-gradient(120deg, #b4fc79 0%, #96e6c7 100%);
  border-radius: 1.1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & a{
    font-size: 2rem;
  }
}

.fa-github:before{
  color: black;
}

.button-box{
  &:focus{
    outline: none;
    border: none;
  }
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.1rem;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) all 0.5s;
  font-family: 'Yusei Magic';
  &:active{
    transform: scale(0.89);
  }
}

.fork-box{
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  width: 100px;
  height: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: flex;
  justify-content: center;
  & .fa-github{
    align-items: center;
    transform: scale(2.3);
    display: flex;
    justify-content: center;
  }
}

.rotate-handle-box{
  display: flex;
  transform: rotate(45deg) scale(1.2);
  padding-bottom: 3rem;
  & .fa-github::before{
    color: rgb(0, 0, 0);
  }
}